In [1]:
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.24.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2022.6.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.8.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.21.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.13.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.64.1)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.13.2)
Requirement already satisfied: huggingface-hub<1.0,>=0.10.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.11.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.10.0->transformers) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.9)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.10.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)

In [2]:
import pandas as pd

In [3]:
# df = pd.read_csv('small_df.csv')
df = pd.read_csv('complete_df.csv')

In [4]:
df

,topic,idx,q,a,context,datatype,attitude,group
0,Gender,14550,What is it like for trans women to pretend to ...,"The phrase ""pretend to be a boy"" is interesting.",0,0,0,Transgender
1,Gender,6905,"do some girls dislike the word ""virtuous""?","Because some people think that ""virtuous"" is s...",0,1,3,Disgust virtuousness
2,Gender,7609,it realistic to ask girls in their 20s to be v...,"As long as you give enough money, don't say th...",0,1,3,Disgust virtuousness
3,Gender,13550,When did you feel discrimination against men?,"The recent cargo lala, whether the deceased ju...",1,2,2,Discrimination against men
4,Gender,8050,Is there a gay man who can tell his own story?,"Thanks for the invitation. I was affected, I o...",0,0,0,Homosexual
...,...,...,...,...,...,...,...,...
22664,Ethnic culture,22320,What do you think of the suspension of the Uni...,"Alas, Negro is asking for trouble. I really ca...",0,1,2,Negro
22665,Ethnic culture,15788,What do you think of some foreigners of Chines...,I thought it was common sense that people who ...,0,0,0,Asian discrimination
22666,Ethnic culture,24204,"What is the situation of ""black life matter"" i...",Let me just talk about an Indian guy from Unit...,0,1,2,Negro
22667,minority,5228,Have you ever been discriminated by?,"""Where are you from?"" ""Shandong"" ""Oh, do you r...",1,2,2,Shandong people/Zhuang people
22668,Ethnic culture,22599,What do you think of United States Negro offic...,"America is not only democratic and free, but a...",1,1,1,Negro

In [5]:
df['concat'] = df['q'] + df['a']
df

,topic,idx,q,a,context,datatype,attitude,group,concat
0,Gender,14550,What is it like for trans women to pretend to ...,"The phrase ""pretend to be a boy"" is interesting.",0,0,0,Transgender,What is it like for trans women to pretend to ...
1,Gender,6905,"do some girls dislike the word ""virtuous""?","Because some people think that ""virtuous"" is s...",0,1,3,Disgust virtuousness,"do some girls dislike the word ""virtuous""?Beca..."
2,Gender,7609,it realistic to ask girls in their 20s to be v...,"As long as you give enough money, don't say th...",0,1,3,Disgust virtuousness,it realistic to ask girls in their 20s to be v...
3,Gender,13550,When did you feel discrimination against men?,"The recent cargo lala, whether the deceased ju...",1,2,2,Discrimination against men,When did you feel discrimination against men?T...
4,Gender,8050,Is there a gay man who can tell his own story?,"Thanks for the invitation. I was affected, I o...",0,0,0,Homosexual,Is there a gay man who can tell his own story?...
...,...,...,...,...,...,...,...,...,...
22664,Ethnic culture,22320,What do you think of the suspension of the Uni...,"Alas, Negro is asking for trouble. I really ca...",0,1,2,Negro,What do you think of the suspension of the Uni...
22665,Ethnic culture,15788,What do you think of some foreigners of Chines...,I thought it was common sense that people who ...,0,0,0,Asian discrimination,What do you think of some foreigners of Chines...
22666,Ethnic culture,24204,"What is the situation of ""black life matter"" i...",Let me just talk about an Indian guy from Unit...,0,1,2,Negro,"What is the situation of ""black life matter"" i..."
22667,minority,5228,Have you ever been discriminated by?,"""Where are you from?"" ""Shandong"" ""Oh, do you r...",1,2,2,Shandong people/Zhuang people,"Have you ever been discriminated by?""Where are..."
22668,Ethnic culture,22599,What do you think of United States Negro offic...,"America is not only democratic and free, but a...",1,1,1,Negro,What do you think of United States Negro offic...

In [6]:
X = df['concat']

In [7]:
X

0        What is it like for trans women to pretend to ...
1        do some girls dislike the word "virtuous"?Beca...
2        it realistic to ask girls in their 20s to be v...
3        When did you feel discrimination against men?T...
4        Is there a gay man who can tell his own story?...
                               ...
22664    What do you think of the suspension of the Uni...
22665    What do you think of some foreigners of Chines...
22666    What is the situation of "black life matter" i...
22667    Have you ever been discriminated by?"Where are...
22668    What do you think of United States Negro offic...
Name: concat, Length: 22669, dtype: object

In [8]:
X = X.astype(str)

In [9]:
X

0        What is it like for trans women to pretend to ...
1        do some girls dislike the word "virtuous"?Beca...
2        it realistic to ask girls in their 20s to be v...
3        When did you feel discrimination against men?T...
4        Is there a gay man who can tell his own story?...
                               ...
22664    What do you think of the suspension of the Uni...
22665    What do you think of some foreigners of Chines...
22666    What is the situation of "black life matter" i...
22667    Have you ever been discriminated by?"Where are...
22668    What do you think of United States Negro offic...
Name: concat, Length: 22669, dtype: object

In [10]:
y = df.iloc[:, 4].values

In [11]:
y

array([0, 0, 0, ..., 0, 1, 1])

In [12]:
y1 = pd.DataFrame()
y1['context'] = df.iloc[:, 4].values
y1['datatype'] = df.iloc[:, 5].values
y1['attitude'] = df.iloc[:, 6].values

In [13]:
y1

       context  datatype  attitude
0            0         0         0
1            0         1         3
2            0         1         3
3            1         2         2
4            0         0         0
...        ...       ...       ...
22664        0         1         2
22665        0         0         0
22666        0         1         2
22667        1         2         2
22668        1         1         1

[22669 rows x 3 columns]

In [14]:
from transformers import BertTokenizer, BertModel
tokenizer = BertTokenizer.from_pretrained('bert-base-cased')
max_len = 0

# For every sentence...
for sent in X:
  # print(sent)
  input_ids = tokenizer.encode(sent, add_special_tokens=True)
  max_len = max(max_len, len(input_ids))
print('Max sentence length: ', max_len)

Max sentence length:  121

In [15]:
# Tokenize all of the sentences and map the tokens to thier word IDs.
import torch
input_ids = []
attention_masks = []

# For every sentence...
for sent in X:
    encoded_dict = tokenizer.encode_plus(
                        sent,                      
                        add_special_tokens = True, 
                        max_length = 140,           
                        pad_to_max_length = True,
                        return_attention_mask = True,   
                        return_tensors = 'pt',    
                   )
   
    input_ids.append(encoded_dict['input_ids'])
    attention_masks.append(encoded_dict['attention_mask'])


input_ids = torch.cat(input_ids, dim=0)
attention_masks = torch.cat(attention_masks, dim=0)
labels = torch.tensor(y)

print('Original: ', X[1])
print('Token IDs:', input_ids[1])

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
/usr/local/lib/python3.7/dist-packages/transformers/tokenization_utils_base.py:2310: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  FutureWarning,

Original:  do some girls dislike the word "virtuous"?Because some people think that "virtuous" is synonymous with "obeying the command of the husband".
Token IDs: tensor([  101,  1202,  1199,  2636, 20662,  1103,  1937,   107,   191, 25074,
         8163,   107,   136,  2279,  1199,  1234,  1341,  1115,   107,   191,
        25074,  8163,   107,  1110, 25239,  1114,   107, 17088,  1158,  1103,
         2663,  1104,  1103,  2252,   107,   119,   102,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])

In [16]:
# Print sentence 0, now as a list of IDs.
print('Original: ', X[0])
print('Token IDs:', input_ids[0])

Original:  What is it like for trans women to pretend to be a boy?The phrase "pretend to be a boy" is interesting.
Token IDs: tensor([  101,  1327,  1110,  1122,  1176,  1111, 14715,  1535,  1106,  9981,
         1106,  1129,   170,  2298,   136,  1109,  7224,   107,  9981,  1106,
         1129,   170,  2298,   107,  1110,  5426,   119,   102,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,     0])

In [17]:
input_ids.shape

torch.Size([22669, 140])

In [18]:
from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(input_ids, y, train_size=0.8)
# X_train, X_test, y_train, y_test = train_test_split(input_ids, y, train_size=0.8, random_state=42)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(input_ids, y1, train_size=0.8, random_state=42)

In [20]:
X_train

tensor([[ 101, 2009, 1110,  ...,    0,    0,    0],
        [ 101, 1109,  151,  ...,    0,    0,    0],
        [ 101, 2091, 1128,  ...,    0,    0,    0],
        ...,
        [ 101, 1731, 1106,  ...,    0,    0,    0],
        [ 101, 1731, 1106,  ...,    0,    0,    0],
        [ 101, 1327, 1202,  ...,    0,    0,    0]])

In [21]:
y_train

       context  datatype  attitude
16962        0         0         0
9191         0         2         2
19645        0         2         3
22484        0         0         0
505          0         1         3
...        ...       ...       ...
11964        0         1         2
21575        0         0         0
5390         1         1         3
860          0         1         2
15795        0         0         0

[18135 rows x 3 columns]

In [22]:
X_train.shape

torch.Size([18135, 140])

In [23]:
y_train1 = y_train['context'].values

In [24]:
y_train1

array([0, 0, 0, ..., 1, 0, 0])

In [25]:
X_data = []
for i in range(len(X_train)):
  X_data.append([X_train[i], y_train1[i]])

In [26]:
len(y_train1)

18135

In [27]:
y_test1 = y_test['context'].values

In [28]:
X_data_test = []
for i in range(len(X_test)):
  X_data_test.append([X_test[i], y_test1[i]])

In [29]:
batch_size = 32
train_loader1 = torch.utils.data.DataLoader(X_data, batch_size=batch_size)

In [30]:
import torch.nn as nn
import torch.nn.functional as F

class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()
        self.fc1 = nn.Linear(140, 768)
        self.dropout = nn.Dropout(0.3)
        # self.fc2 = nn.Linear(768, 2)
        self.fc2 = nn.Linear(768, 24)


    def forward(self, x):
        x = self.fc1(x)
        x = self.dropout(x)
        x = self.fc2(x)
        output = F.log_softmax(x, dim=1)
        return output

In [31]:
model = Net()

In [32]:
n_epochs = 20
criterion_fnn = nn.CrossEntropyLoss()
optimizer_fnn = torch.optim.Adam(model.parameters(), lr=5e-5)

In [33]:
import numpy as np
valid_loss_min = np.Inf 

for epoch in range(n_epochs):
    train_loss = 0.0
    model.train() 
    for data, target in train_loader1:
        optimizer_fnn.zero_grad()
        output = model(data.float())
        # loss = criterion_fnn(output, torch.max(target, 1)[1])
        loss = criterion_fnn(output, target.long())
        loss.backward()
        optimizer_fnn.step()
        train_loss += loss.item()*data.size(0)
        
    model.eval()    
    print('Epoch: {} \tTraining Loss: {:.2f}'.format(epoch+1, train_loss/len(train_loader1.dataset)))

Epoch: 1 	Training Loss: 422.50
Epoch: 2 	Training Loss: 306.40
Epoch: 3 	Training Loss: 265.84
Epoch: 4 	Training Loss: 217.88
Epoch: 5 	Training Loss: 179.83
Epoch: 6 	Training Loss: 140.90
Epoch: 7 	Training Loss: 105.64
Epoch: 8 	Training Loss: 73.96
Epoch: 9 	Training Loss: 41.93
Epoch: 10 	Training Loss: 16.66
Epoch: 11 	Training Loss: 9.44
Epoch: 12 	Training Loss: 8.67
Epoch: 13 	Training Loss: 9.03
Epoch: 14 	Training Loss: 8.51
Epoch: 15 	Training Loss: 8.73
Epoch: 16 	Training Loss: 8.77
Epoch: 17 	Training Loss: 8.69
Epoch: 18 	Training Loss: 8.70
Epoch: 19 	Training Loss: 8.73
Epoch: 20 	Training Loss: 8.16

In [34]:
test_loader1 = torch.utils.data.DataLoader(X_data_test, batch_size=1)

In [35]:
label_context = []
def q4b_fnn_accuracy(loader, model):
  # num_correct = 0
  # num_samples = 0
  total_correct = 0
  total_samples = 0
  model.eval()
  cnt = 0
  with torch.no_grad():

    # for x, y in loader:
    for data, label in loader:
      cnt += 1
      # print(cnt)
      scores = model(data.float())
      _, predictions = scores.max(1)
      label_context.append(predictions.item() )
      pred_arr = (predictions == label)
      for i in pred_arr:
        total_correct += i
    total_samples = len(X_data_test)
    print("Accuracy is" , float(total_correct)/float(total_samples) * 100)
  model.train()
q4b_fnn_accuracy(test_loader1, model)

Accuracy is 53.79355977062197

In [36]:
# label_context

In [37]:
len(label_context)

4534

In [38]:
labels_df = pd.DataFrame({'context':label_context})

In [39]:
labels_df

      context
0           0
1           0
2           0
3           1
4           0
...       ...
4529        0
4530        0
4531        1
4532        0
4533        0

[4534 rows x 1 columns]

In [40]:
############################ to predict the datatype #########################

In [41]:
# y_datatype = df.iloc[:, 5].values

In [42]:
# y_datatype

In [43]:
# from sklearn.model_selection import train_test_split
# X_train_dt, X_test_dt, y_train_dt, y_test_dt = train_test_split(input_ids, y_datatype, train_size=0.8)

In [44]:
# y_train_dt

In [45]:
# X_data_dt = []
# for i in range(len(X_train_dt)):
#   X_data_dt.append([X_train_dt[i], y_train_dt[i]])

In [46]:
# X_data_test_dt = []
# for i in range(len(X_test_dt)):
#   X_data_test_dt.append([X_test_dt[i], y_test_dt[i]])

In [47]:
y1_dt_train = y_train['datatype'].values

In [48]:
y1_dt_test = y_test['datatype'].values

In [49]:
X_data_dt = []
for i in range(len(X_train)):
  X_data_dt.append([X_train[i], y1_dt_train[i]])

In [50]:
X_data_test_dt = []
for i in range(len(X_test)):
  X_data_test_dt.append([X_test[i], y1_dt_test[i]])

In [51]:
# batch_size = 32
batch_size = 64
train_loader_dt = torch.utils.data.DataLoader(X_data_dt, batch_size=batch_size)

In [52]:
import torch.nn as nn
import torch.nn.functional as F

class Net_dt(nn.Module):
    def __init__(self):
        super(Net_dt, self).__init__()
        self.fc1 = nn.Linear(140, 768)
        self.dropout = nn.Dropout(0.4)
        self.fc2 = nn.Linear(768, 3)
        # self.fc2 = nn.Linear(768, 24)


    def forward(self, x):
        x = self.fc1(x)
        x = self.dropout(x)
        x = self.fc2(x)
        output = F.log_softmax(x, dim=1)
        return output

In [53]:
model1 = Net_dt()
n_epochs = 20
criterion_fnn_dt = nn.CrossEntropyLoss()
optimizer_fnn_dt = torch.optim.Adam(model1.parameters(), lr=3e-5)
# optimizer_fnn_dt = torch.optim.Adam(model1.parameters(), lr=0.001)

In [54]:
import numpy as np
valid_loss_min = np.Inf 

for epoch in range(n_epochs):
    train_loss = 0.0
    model1.train() 
    for data, target in train_loader_dt:
        optimizer_fnn_dt.zero_grad()
        output = model1(data.float())
        loss_dt = criterion_fnn_dt(output, target.long())
        loss_dt.backward()
        optimizer_fnn_dt.step()
        train_loss += loss_dt.item()*data.size(0)
        
    model1.eval()    
    print('Epoch: {} \tTraining Loss: {:.2f}'.format(epoch+1, train_loss/len(train_loader_dt.dataset)))

Epoch: 1 	Training Loss: 798.80
Epoch: 2 	Training Loss: 633.30
Epoch: 3 	Training Loss: 587.06
Epoch: 4 	Training Loss: 548.76
Epoch: 5 	Training Loss: 512.58
Epoch: 6 	Training Loss: 475.93
Epoch: 7 	Training Loss: 450.59
Epoch: 8 	Training Loss: 419.55
Epoch: 9 	Training Loss: 392.96
Epoch: 10 	Training Loss: 364.38
Epoch: 11 	Training Loss: 328.49
Epoch: 12 	Training Loss: 297.67
Epoch: 13 	Training Loss: 272.79
Epoch: 14 	Training Loss: 248.08
Epoch: 15 	Training Loss: 219.21
Epoch: 16 	Training Loss: 195.89
Epoch: 17 	Training Loss: 172.66
Epoch: 18 	Training Loss: 146.66
Epoch: 19 	Training Loss: 123.17
Epoch: 20 	Training Loss: 97.04

In [55]:
test_loader_dt = torch.utils.data.DataLoader(X_data_test_dt, batch_size=1)

In [56]:
label_datatype = []
def q4b_fnn_accuracy(loader, model):
  total_correct = 0
  total_samples = 0
  model1.eval()
  cnt = 0
  with torch.no_grad():

    # for x, y in loader:
    for data, label in loader:
      cnt += 1
      scores = model(data.float())
      _, predictions = scores.max(1)
      label_datatype.append(predictions.item())
      pred_arr = (predictions == label)
      for i in pred_arr:
        total_correct += i
    total_samples = len(X_data_test_dt)
    print("Accuracy is" , float(total_correct)/float(total_samples) * 100)
  model.train()
q4b_fnn_accuracy(test_loader_dt, model1)

Accuracy is 44.04499338332598

In [57]:
labels_df['datatype'] = label_datatype

In [58]:
##########################

In [59]:
#For attitude
# y_attitude = df.iloc[:, 6].values

In [60]:
# from sklearn.model_selection import train_test_split
# X_train_at, X_test_at, y_train_at, y_test_at = train_test_split(input_ids, y_attitude, train_size=0.8)

In [61]:
# X_data_at = []
# for i in range(len(X_train_at)):
#   X_data_at.append([X_train_at[i], y_train_at[i]])

In [62]:
# X_data_test_at = []
# for i in range(len(X_test_at)):
#   X_data_test_at.append([X_test_at[i], y_test_at[i]])

In [63]:
y_at_train = y_train['attitude'].values

In [64]:
y_at_test = y_test['attitude'].values

In [65]:
X_data_at = []
for i in range(len(X_train)):
  X_data_at.append([X_train[i], y_at_train[i]])

In [66]:
X_data_test_at = []
for i in range(len(X_test)):
  X_data_test_at.append([X_test[i], y_at_test[i]])

In [67]:
# batch_size = 32
batch_size = 128
train_loader_at = torch.utils.data.DataLoader(X_data_at, batch_size=batch_size)

In [68]:
import torch.nn as nn
import torch.nn.functional as F

class Net_at(nn.Module):
    def __init__(self):
        super(Net_at, self).__init__()
        self.fc1 = nn.Linear(140, 768)
        # self.dropout = nn.Dropout(0.3)
        self.dropout = nn.Dropout(0.5)
        self.fc2 = nn.Linear(768, 4)

    def forward(self, x):
        x = self.fc1(x)
        x = self.dropout(x)
        x = self.fc2(x)
        output = F.log_softmax(x, dim=1)
        return output

In [69]:
model2 = Net_at()
# n_epochs = 20
n_epochs = 40
criterion_fnn_at = nn.CrossEntropyLoss()
optimizer_fnn_at = torch.optim.Adam(model2.parameters(), lr=1e-5)
# optimizer_fnn_at = torch.optim.Adam(model2.parameters(), lr=5e-5)

In [70]:
import numpy as np
valid_loss_min = np.Inf 

for epoch in range(n_epochs):
    train_loss = 0.0
    model2.train() 
    for data, target in train_loader_at:
        optimizer_fnn_at.zero_grad()
        output = model2(data.float())
        loss_at = criterion_fnn_at(output, target.long())
        loss_at.backward()
        optimizer_fnn_at.step()
        train_loss += loss_at.item()*data.size(0)
        
    model2.eval()    
    print('Epoch: {} \tTraining Loss: {:.2f}'.format(epoch+1, train_loss/len(train_loader_at.dataset)))

Epoch: 1 	Training Loss: 1185.05
Epoch: 2 	Training Loss: 980.37
Epoch: 3 	Training Loss: 922.07
Epoch: 4 	Training Loss: 876.92
Epoch: 5 	Training Loss: 852.34
Epoch: 6 	Training Loss: 816.06
Epoch: 7 	Training Loss: 807.04
Epoch: 8 	Training Loss: 785.75
Epoch: 9 	Training Loss: 768.30
Epoch: 10 	Training Loss: 760.79
Epoch: 11 	Training Loss: 726.36
Epoch: 12 	Training Loss: 723.79
Epoch: 13 	Training Loss: 710.44
Epoch: 14 	Training Loss: 703.81
Epoch: 15 	Training Loss: 698.43
Epoch: 16 	Training Loss: 678.48
Epoch: 17 	Training Loss: 671.08
Epoch: 18 	Training Loss: 652.87
Epoch: 19 	Training Loss: 637.10
Epoch: 20 	Training Loss: 626.67
Epoch: 21 	Training Loss: 616.73
Epoch: 22 	Training Loss: 620.01
Epoch: 23 	Training Loss: 594.55
Epoch: 24 	Training Loss: 598.05
Epoch: 25 	Training Loss: 580.01
Epoch: 26 	Training Loss: 562.85
Epoch: 27 	Training Loss: 562.85
Epoch: 28 	Training Loss: 556.24
Epoch: 29 	Training Loss: 545.20
Epoch: 30 	Training Loss: 534.80
Epoch: 31 	Training Loss: 523.66
Epoch: 32 	Training Loss: 511.58
Epoch: 33 	Training Loss: 504.42
Epoch: 34 	Training Loss: 493.44
Epoch: 35 	Training Loss: 484.10
Epoch: 36 	Training Loss: 471.62
Epoch: 37 	Training Loss: 464.47
Epoch: 38 	Training Loss: 455.65
Epoch: 39 	Training Loss: 445.25
Epoch: 40 	Training Loss: 442.24

In [71]:
test_loader_at = torch.utils.data.DataLoader(X_data_test_at, batch_size=1)

In [72]:
label_attitude = []
def q4b_fnn_accuracy(loader, model):
  total_correct = 0
  total_samples = 0
  model1.eval()
  cnt = 0
  with torch.no_grad():

    # for x, y in loader:
    for data, label in loader:
      cnt += 1
      scores = model(data.float())
      _, predictions = scores.max(1)
      label_attitude.append(predictions.item())
      pred_arr = (predictions == label)
      for i in pred_arr:
        total_correct += i
    total_samples = len(X_data_test_at)
    print("Accuracy is" , float(total_correct)/float(total_samples) * 100)
  model.train()
q4b_fnn_accuracy(test_loader_at, model2)

Accuracy is 43.91265990295545

In [73]:
labels_df['attitude'] = label_attitude

In [74]:
labels_df

      context  datatype  attitude
0           0         0         2
1           0         0         0
2           0         0         3
3           1         0         0
4           0         0         0
...       ...       ...       ...
4529        0         0         0
4530        0         0         0
4531        1         2         2
4532        0         2         0
4533        0         2         0

[4534 rows x 3 columns]